<div id="task-form-modal" class="task-modal-wrapper">
	<div class="row">
		<div class="col-md-6 offset-md-3 task-modal-content">
			<div class="row">
				<div id="close-form-modal">
					<i class="fas fa-2x fa-times-circle"></i>
				</div>
			</div>
			<%= form_with model: task do |f| %>
				<div class="row">
					<h6 class="col-md-3 offset-md-1 task-form-title">内容</h6>
					<%= f.text_area :content, size: "40x2", class: "col-md-6 form-control mb-3" %>
				</div>
				<div class="row">
					<h6 class="col-md-3 offset-md-1 task-form-title">(実行時間)</h6>
					<%= f.datetime_select :time_limit, {start_year: Time.current.year, end_year: Time.current.year + 3, use_month_numbers: true, minute_step: 5}, {} %>
				</div>
				<div class="row">
					<%= f.submit "追加", class: "col-md-3 offset-md-5 mt-3 btn btn-info" %>
				</div>
			<% end %>
		</div>
	</div>
</div>