<div class="row tab-boxes">
  <div class="col-md-3 tab-box">
    <a href="#tab1" class="tab-btn active-btn">ヒトコト数　<%= user.posts.count %></a>
  </div>
  <div class="col-md-3 tab-box">
    <a href="#tab2" class="tab-btn">フォロー　<%= user.follower.count %></a>
  </div>
  <div class="col-md-3 tab-box">
    <a href="#tab3" class="tab-btn">フォロワー　<%= user.followed.count %></a>
  </div>
  <div class="col-md-3 tab-box">
    <a href="#tab4" class="tab-btn">いいねしたヒトコト</a>
  </div>
</div>
