<div class="row">
	<% @follower_users.each do |user| %>
		<div class="col-md-10 offset-md-1 user-index-box user-<%= user.id %>">
			<%= render "users/user_index", user: user %>
		</div>
	<% end %>
</div>
