<div class="form-box">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h3 class="page-title"><span class="fa fa-pencil-alt"></span>ヒトコト投稿</h3>
		</div>
	</div>

	<%= render "posts/post_form", post: @post %>
</div>
