/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$orange: #e96e50;
$gray: #ecf0f1;
$light_blue: #eef8fb;
$blue: #2790b0;
$black: #212529;

body {
	font-family: Futura, "メイリオ", Arial;
}

.wrapper {
  min-height: 100vh;
	position: relative;
	padding-bottom: 80px;
	background-color: $gray;
}

.navbar {
	margin-bottom: 20px;

	.nav-item {
		margin-top: 8px;
	}

	.nav-image {
		margin: 0 8px;
	}

	.nav-link {
		margin-left: 30px;
	}
}

.field_with_errors {
  display: contents;
  input {
    @extend .is-invalid;
  }
}

.pagination {
	margin: 10px auto;
}

footer {
	width: 100%;
	position: absolute;
	bottom: 0;

	.footer-box {
		text-align: right;
		line-height: 60px;

		a {
			padding: 0 70px;
			color: #FFFFFF;
		}
	}
}
.index-page-title {
	margin: 0 auto 15px;
	font-weight: bold;
}

.page-title {
	margin: 10px auto 25px;
	text-align: center;
	font-weight: bold;
}

.new-user-info {
    background: white;
    border-top: solid 5px $orange;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    padding: 10px auto;

    h5, .btn {
    	text-align: center;
    	margin: 30px auto 0;
    }
}


/*--------- タイマー機能 ----------*/
.timer-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}

.modal-content {
	margin: 150px auto 0;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  text-align: center;

  .fa-times-circle {
	  position: absolute;
	  top: 15px;
	  right: 15px;
	  cursor: pointer;

	  &:hover {
	  	font-size: 2.5em;
	  	top: 12px;
	  	right: 12px;
	  }
	}

	.action-timer {
		padding-top: 40px;
	}

	.minutes-form {
		text-align: center;
		height: 40px;
		margin: 30px 0;
		border-radius: 10px;
	}
}
/*---------- ページ上部 timer-box ----------*/

.timer-box {
	padding: 20px;
	margin-bottom: 30px;
	background: white;
	border-radius: 8px;
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.22);

	.on-timer-text, .btn {
		margin: 0 auto;
	}
}
/*--------- ここまで ----------*/

/*---------- 登録・編集画面共通 ----------*/
.form-box {
	margin: 15px 0;

	.form-field {
		margin-bottom: 40px;
		border: 1px solid $gray;
		border-radius: 7px;
		outline: none;
	}

	.prev-noimage {
		display: none;
	}
}
/* user edit only */
.user-icon {
	border-radius: 50%;
}

.user-icon-select{
	padding-top: 40px;
}
/*--------- ここまで ----------*/















