// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-box {
	margin: 15px 0;

	.form-field {
		margin-bottom: 40px;
	}

	.text-field {
		border-radius: 10px;
	}

	.prev-noimage {
		display: none;
	}
}