// Place all the styles related to the post_comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "application";

.fake-comment-field {
	width: 100%;
	text-align: center;
	border-radius: 3px;
	outline: none;
}

.comment-field {
	border: 1px solid gray;
	border-radius: 3px;
}

.comment-form, .edit-comment-form {
	display: none;

	.fa-times-circle {
		cursor: pointer;

	  &:hover {
	  	font-size: 2.1em;
	  }
	}
}
