// Place all the styles related to the routines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "application";

.link-to-black {
	color: $black;
}

.routines-box {
	margin: 10px 0 30px;

	ul {
	  padding: 0;
	}

	ul li {
	  color: #404040;
	  border-left: solid 6px $orange;/*左側の線*/
	  border-bottom: solid 2px #dadada;/*下に灰色線*/
	  background: white;
	  margin-bottom: 5px;/*下のバーとの余白*/
	  line-height: 1.7;
	  padding: 0.7em;
	  list-style-type: none!important;/*ポチ消す*/
	  font-weight: bold;
	}
}

.routine-box {
    background: white;
    border-top: solid 5px $orange;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    padding: 10px 0;

    .routine-form {
    	width: 100%;
    	border-radius: 7px;
    }

   	.routine-tasks-box {
   		margin: 10px 5px;
   	}

		.task-item {
		  color: $black;
		  background: #f5f5f5;
		  line-height: 2.0;
		  padding: 0.5em 0.5em 0.5em 2em;
		  border-bottom: 5px solid white;
		  list-style-type: none!important;
		  font-weight: bold; /*好みで太字に*/
		}

		.fas, .far {
			color: $black;
			cursor: pointer;

			&:hover {
				color: $orange;
				text-decoration: none;
			}
		}

		.task-item:before {
		  font-family: "Font Awesome 5 Free";
		  content: "\f14a";
		  position: absolute;
		  left : 0.8em; /*左端からのアイコンまでの距離*/
		  color: $orange; /*アイコン色*/
		}
}